.roadMapContainer{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.comingSoonTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: 700;
    font-family: kashima;
    text-align: center;
}