@media screen and (max-width: 1280px) {
  .socialIconsCotainer {
    left: 44%;
  }
}
@media (min-height: 1366px) and (max-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  .HomeContentContainer {
    top: 18%;
  }
  .clanIcon {
    width: 5.5rem !important;
  }
}
@media screen and (max-width: 1030px) {
  .socialIconsCotainer {
    left: 40%;
  }
  .clanIcon {
    width: 3rem;
  }
}
@media screen and (max-width: 930px) {
  .homeContainer {
    background-image: url("./assets/images/tabletBGcopy.png");
  }
  .HomeContentContainer {
    /* 
        left: 40%; */
    top: 40%;
    left: -42%;
    right: 0;
    margin: auto;
  }
  .homeDes {
    text-align: center;
  }
  .homeTitleContainer {
    height: 9rem;
  }
  .clanIconsCotainer {
    flex-direction: row;
    left: 11%;
    right: 0;
    margin: auto;
    justify-content: flex-start;
    top: 60% !important;
  }
  .clanIcon {
    width: 4.2rem;
    padding: 0.2rem;
  }
  .socialIconsCotainer {
    /* display: flex;
    flex-direction: column;
    bottom: 40%; */
    left: 25%;
  }
}
@media screen and (max-width: 920px) and (min-width: 912px) {
  .clanIconsCotainer {
    left: 13%;
  }
}
@media screen and (max-width: 810px) and (min-width: 790px) {
  .homeTitleContainer {
    height: 8rem;
  }
  .clanIconsCotainer {
    top: 23%;
  }
}
@media screen and (max-width: 700px) {
  .HomeContentContainer {
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .clanIconsCotainer {
    flex-direction: row;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    top: 27% !important;
  }
  .homeContainer {
    background-image: url("./assets/images/MobileBGcopy.png");
  }
  .navContainer {
    display: none;
  }
  .menuToogle {
    display: block !important;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
  }
  .navHidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    transition: all 0.5s;
    transform: translateX(-100%);
  }
  .navContainerActive {
    /* display: none; */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    transition: all 0.5s;
    transform: translateX(0%);
  }

  .homeTitleContainer {
    height: 4.5rem;
  }
  .homeDes {
    font-size: 1.2rem;
  }
  .clanIcon {
    width: 3.4rem;
  }
  .socialIconsCotainer {
    display: flex;
    flex-direction: column;
    bottom: 40%;
    left: 0%;
  }
}
@media screen and (max-width: 375px) {
  .clanIcon {
    width: 2.5rem;
  }
}
